---
title: Sublime Multi-Cursor
---
%p
  I use Sublime. I know, I know, I’m not a #{link_to '“real”', 'http://xkcd.com/378/'} dev. Whatever. It works for me. One of my favourite features is the multi-cursor. If you're a fellow Sublime user and aren’t aware of this ability you should really check it out. Look at #{link_to 'step 12', 'http://blog.generalassemb.ly/sublime-text-3-tips-tricks-shortcuts/'} for a little gif of what it looks like.
%p
  This is an awesome tool for making bulk edits in a file. <code>cmd + mouse-click</code> is where I started, but then #{link_to '@gerwinvanroyen', 'https://twitter.com/gerwinvanroyen'} told me about selecting a bunch of lines and then doing <code>cmd + shift + L</code> to select all the lines individually. Also running a <code>find all</code> in Sublime and then using the multiple cursors from there has been really helpful.
%p
  So go try it out - it’s pretty powerful!