%h1
  Thank you!
%p
  Thanks for signing up for my code resources mailing list! I'm excited to have you on board, and I hope I can help you in your programming education. Of course, if you have any questions, feedback, or suggestions please feel free to tweet me at #{link_to '@lucykbain', 'https://twitter.com/lucykbain'}.

%p
  You're subscription has been confirmed, so get ready for some new content coming to your inbox. Good luck programming!