%h1
  Almost finished...
%p
  Thanks for your interest in my coding resources mailing list! Just before you can get any awesome content, you need to confirm your email address. To complete your subscription, please click the link in the email just sent to you.