%h1 Thanks!

%p Yay, I just got mail! Thanks for your message, I'll get back to you soon.

%p In the meantime you might like to checkout my #{link_to 'blog', '/blog'}. Or maybe just enjoy this kitten.


=image_tag('kitten.jpg', class: 'thanks-kitten')

%p Sigh. I wish I had a kitten...