@import normalize

$small-mobile: 400px
$medium-mobile: 500px
$large-mobile: 900px
$large-screen: 1200px

$white: #fff
$light-gray: #888
$dark-gray: #333
$accent: #C93C67
$bold: 700

body
  background: $white
  font-family: 'Lato', sans-serif
  color: $dark-gray

a
  text-decoration: none
  color: $accent
  -webkit-font-smoothing: antialiased
  text-decoration: none
  &:hover
    text-decoration: underline

b, strong, bold
  font-weight: 700


#main
  margin: 0 auto
  max-width: 800px
  @media (max-width: $large-mobile)
    margin: 20px
  @media (max-width: $small-mobile)
    margin: 0px

@import nav
@import header
@import posts
@import home
@import page