@import variables

.content
  margin: 0px auto
  max-width: 700px
  padding: 20px 40px
  font-size: 1em
  line-height: 1em
  font-family: $content-font
  -webkit-font-smoothing:  antialiased

  @include respond(medium)
    padding: 20px 30px
  @include respond(small)
    padding: 20px
    font-size: 18px

  p
    margin-bottom: 20px
    line-height: 1.5em

  h1, h2, h3, h4
    font-family: $title-font
    font-weight: $normal-weight
    line-height: 1.25em
    margin: 40px 0px 20px

  h1
    font-size: 2.5em
    @include respond(small)
      font-size: 2em

  h2
    font-size: 1.5em

  h3
    font-size: 1em
    margin: 20px 0px 0px

  h1, h2, h3
    @include respond(small)
      margin: 20px 0px 0px

  ul
    padding-left: 40px
  li
    line-height: 1.75em
    list-style-type: disc

  .center
    text-align: center

