@import variables

.header
  .nav
    padding: 20px
    margin: 0px
    border: 1px solid #ccc
    li
      font-size: 0.75em
      margin-right: 0px
      a
        padding: 20px
        &:hover
          text-decoration: none
          color: $accent
      .active
        border-bottom: 2px solid $accent