@import variables

.home-page
  background: darken($accent, 5)
  color: $white
  a
    color: $white

.social-logo
  width: 48px
  margin: 15px

.personal-info
  margin: 60px auto
  max-width: 350px
  text-align: center

  .blurb
    font-size: 2.5em
    line-height: 1.15em
    font-weight: $bold

  .photo
    margin: 0px auto 20px

  .profile-pic
    width: 230px
    border-radius: 100%

  .connections
    margin-top: 80px
    padding-left: 0px
    li
      display: inline
      margin-right: 30px
      &:last-child
        margin-right: 0px
    a
      color: $very-dark-accent
      font-size: 3em
      &:hover
        color: $white
        text-decoration: none

