@import variables

.nav
  text-align: center
  list-style: none
  padding: 0

  li
    display: inline
    margin-right: 15px
    font-size: 20px
    @media (max-width: $large-mobile)
      font-size: 18px
    @media (max-width: $small-mobile)
      font-size: 16px


  li:last-child
    margin-right: 0px

  @media (max-width: $medium-mobile)
    li.home
      display: inline