.nav
  text-align: center
  list-style: none
  padding: 0
  margin-bottom: 50px
  li
    display: inline
    margin-right: 15px
  li:last-child
    margin-right: 0px
  @media (max-width: $medium-mobile)
    li.home
      display: inline

.header .nav li
  text-transform: uppercase