$small-size: 400px
$medium-size: 900px
$large-size: 1200px

$white: #fff
$light-gray: #888
$dark-gray: #333
$accent: #C93C67
$light-accent: #e49db3

$bold: 700
$normal-weight: 400

$title-font: 'Nobile', sans-serif
$content-font: 'Crimson Text', sans-serif


@function generate_media_query($pixels)
  @return "(max-width: #{$pixels})"



$small-screen: generate_media_query($small-size)
$medium-screen: generate_media_query($medium-size)
$large-screen:  generate_media_query($large-size)

// Mixin: the easiest way to make responsive tweaks
// ------------------------------------------------

@mixin respond($size)
  @if $size == small
    @media #{$small-screen}
      @content
  @else if $size == medium
    @media #{$medium-screen}
      @content
  @else if $size == large
    @media #{$large-screen}
      @content