$small-mobile: 400px
$medium-mobile: 500px
$large-mobile: 900px
$large-screen: 1200px

$white: #fff
$light-gray: #888
$dark-gray: #333
$accent: #C93C67
$light-accent: #e49db3

$bold: 700
$normal-weight: 400

$title-font: 'Nobile', sans-serif
$content-font: 'Crimson Text', sans-serif