---
summary: "Helpful tips, tricks, and links about Git and Github."
---

.links
  %h1
    Links
  %ol
    %li
      =link_to 'Git', 'http://git-scm.com/'
/ git - the simple guide
/ Git Cheat Sheet
/ Try Git
/ git ready