---
summary: "Helpful links about Git and Github."
---

.links
  %h1
    Links
  %ol
    %li
      Official website for
      =link_to 'Git', 'http://git-scm.com/'
    %li
      =link_to 'git - the simple guide', 'http://rogerdudler.github.io/git-guide/'
      gives a simple, clear, and cheeky overview of git
    %li
      =link_to 'Git Cheat Sheet', 'http://scotch.io/bar-talk/git-cheat-sheet'
      might be handy to keep a print out of until you memorize some common commands
    %li
      =link_to 'Try Git', 'http://try.github.io/levels/1/challenges/1'
      with an interactive tutorial
    %li
      =link_to 'git ready', 'http://gitready.com/'
      provies a few streams (beginner, intermediate, etc.) to learn Git. Not as beginner friendly, but more human than the offical Git website.
    %li
      My
      =link_to 'Into to Git', 'https://docs.google.com/presentation/d/1XyJ9nkeDC4WiMfHqW8f8eWKRPSCcRWMnaRTwJ-L5TdM/edit?usp=sharing'
      presentation