html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f8fbf4;
}

body {
  position: absolute;
  left: 0;
  right: 0;
}

form {
  width: 200px;
  margin: 30px auto;
  font-family: 'Arvo', serif;
}

table {
  padding: 15px;
  background: white;
  border-radius: 15px;
  border: 2px solid #a7ca72;
}

.label {
  text-align: right;
}

input, textarea {
  width: 150px;
}

#map-canvas {
  border-top: 5px solid gray;
  font-family: 'Raleway', sans-serif;
}