.header
  #menu
    .nav-open
      %ul
        %li
        %li
        %li
    %ul.nav
      %li
        =nav_link 'Connect with me', '/'
      %li
        =nav_link 'My job', '/job/'
      %li
        =nav_link 'Resources', '/resources/'
      %li
        =nav_link 'Blog', '/blog/'

:javascript
  $('#menu .nav-open').on('click', function(){
    $('#menu .nav').toggleClass('open');
  })