.header
  %ul.nav#menu
    %li
      =nav_link 'Connect with me', '/'
    %li
      =nav_link 'My job', '/resources/job/'
    %li
      =nav_link 'Resources', '/resources/'
    %li
      =nav_link 'Blog', '/blog/'