%nav
  .nav-open-btn
    %ul
      %li
      %li
      %li
  %ul.nav-display
    %li
      =nav_link 'Me', '/', class: 'link-button'
    %li
      =nav_link 'Resume', '/resume/', class: 'link-button'
    %li
      =nav_link 'Contact', '/contact-me/', class: 'link-button'
    %li
      =nav_link 'Resources', '/resources/', class: 'link-button'
    %li
      =nav_link 'Blog', '/blog/', class: 'link-button'