body {
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h1 {
  font-weight: 700;
}
p {
  font-size: 2em;
}

#board {
  text-align: center;
  padding: 20px;
}

.row {
  display: block;
}

.cell {
  display: inline-block;
  border-style: outset;
  background-image: url('minesweeper_tiles.jpg');
  background-position: 0px 0px;
  margin: 0px;
  padding: 0px;
  height: 32px;
  width: 32px;
}

.found {
  background-position: -96px 0px;
}

.found-F {
  background-position: -32px 0px;
}

.found-B {
  background-position: -64px 0px;
}

.found-1 {
  background-position: 0px -32px;
}

.found-2 {
  background-position: -32px -32px;
}

.found-3 {
  background-position: -64px -32px;
}

.found-4 {
  background-position: -96px -32px;
}

.found-5 {
  background-position: 0px -64px;
}

.found-6 {
  background-position: -32px -64px;
}

.found-7 {
  background-position: -64px -64px;
}

.found-8 {
  background-position: -96px -64px;
}