---
title: Sublime Auto Indent
---
%p
  I recently discoverd how to get Sublime to fix indentations for you! Since I spend a certain amount of time each day pushing characters left and right this was pretty exciting. Hope you find it useful!

%p
  In Sublime, under <code>Preference</code> select <code>Key Bindings - User</code>. If you've got anything in there already, just add the <code>{ "keys"... }</code> section below. Otherwise you can replace the <code>[]</code> with:

:code
  [
    { "keys": ["super+i"],
      "command": "reindent"}
  ]
%p
  Now you can use <code>cmd + i</code> (mac), or <code>ctrl + i</code> (windows) to auto indent your code. It's not always perfect, but it's helped me with my rails code.

%h2
  What's happening here?
%ul
  %li
    <code>"keys"</code> labels the next section as the keys that will trigger the action.
  %li
    <code>["super+i"]</code> means "use whatever this computer defaults to" (<code>cmd</code> for macs, <code>ctrl</code> for windows) and <code>i</code> to trigger the action.
  %li
    <code>"command"</code> labels which command the given key binding should trigger.
  %li
    <code>"reindent"</code> is the command that will run on the given key press. A list of commands you could use can be found #{link_to 'in the docs', 'http://www.sublimetext.com/docs/commands'}.
