---
title: Getting Started on Twitter
draft: true
---
%p
  A friend of mine recently got set up with Twitter and asked for some pointers. Another friend complemented me on my feed. I was flattered, and wanted to make how I use Twitter public.
%p
  There are <em>many</em> sites out there to help you use Twitter more effectively, I do not believe what I have to say is better or more relevant, this is just written from one friend to another, I hope you find it helpful.
%h2
  The basics
%p
  There are a few starting points you should know about Twitter. Once you've had an account for a while it's fairly straight forward, but if you're just starting out here are some tips:
  %ul
    %li
      If you tweet at someone (e.g. "@lucykbain how's your day going?") only people who follow both you and the person you're tweeting at can see the tweet. If you'd like to tweet at someone but want everyon to see you need to start with another character, general a period (e.g. ".@lucykbain thanks for the link - I'm sharing it with everyone!")
    %li
      If you retweet someone diretly your handle (username) is visible, but not as prominate as the person you retweeted. You can get around this by quoting their tweet, but unless you're adding something it's kind of bad manners.
    %li
      Favouriting tweets lets the person know you saw the tweet, or that you appreciated it. It will be saved in your "favourited" section, but it doesn't go out to your followers. The person who wrote the original tweet would almost certainly appreciate a retweet over a favourite, but that's up to you.
    %li
      You can send a direct message (DM) to someone you follow who follows you back (two way follow). A DM is kind of like an email (private between the two of you), but has the same character limit. Also, I've found it can be hard to share links in a DM, sometimes it works, sometimes it doesn't.
%h2 Moving up in the world
%p
  Ok, now you've gotten the hang of Twitter, you hopefully have a few followers (hey, your mom totally counts!), and you're following a few people yourself (the more the merrier!). What's next?
%p
  For me it's now about optimising your tweets and your time. Sure some people tweet seemingly constantly - more power to them. Personally I tend to unfollow people who tweet too much, and I don't really want to spend my day sifting through tweets to find good ones to retweet, or putting out my every thought.
%p
  So let's say you decide to limit yourself to two tweets a day. It's a good starting point - it's basically where I started. I wanted to tweet often enough that people would remember me, but not so much that I'd be <em>that girl</em>. How do you know when to tweet?
%p
  You go checkout #{link_to 'WEBSITE', '#'} and find out when most of your followers are active. But don't stop there, scroll down a little more and find when most of your followers do retweets. Retweets are pretty much the goal. Whatever your saying, you want it to get to as many people as possible. If they end up following you, that's great, but even if they don't, they saw what you were saying, and that's the important bit. If you're only tweeting once or twice a day you want to make sure what you tweet has the maximum impact.
%p
  If you're tweeting to increase your personal visibility (and most people are) then the time period with the maximum retweets should be used for your personal content. Don't use your one major retweet window per day to sell someone else (unless you're ok with that, which is fine), use it to make yourself more visible to more people. Plus your content is what makes following you worth something.
%p
  That said, "your content" is really fluid. Do you want to be a



