---
pageable: false
---

.blog-listing
  - page_articles.each do |article|
    %div
      %h1
        = link_to article.title, article
      %p= article.date.strftime('%b %e, %Y')
      = article.summary(250)
    %hr