---
summary: "I'd like to start a study group for the The Odin Project's JS and jQuery course."
---

%h1
  The Odin Project JS and jQuery Study Group
%p
  I'm planning on running a study group for The Odin Project's #{link_to 'JS and jQuery course', 'http://www.theodinproject.com/javascript-and-jquery'}. I'm not sure exactly when it will start, but not before July.
%h2 How it works
%p
  Each week (day to be decided, but probably on Mondays) we get together to talk about what was covered in the course content and project that you completed the previous week. We would try to clear up any confusion that came up in that week's content - just help each other out and encourage each other.

%h2 The form
%p
  If you're interested in getting more information then please fill out the form below. I have no idea how many people will be interested, so this is just to collect the email addresses of anyone who wants more information as it becomes available. There is <em>no commitment</em> associated with filling out this form.
%p
  As I said, I don't yet know when the course will start

:plain
  <iframe src="https://docs.google.com/forms/d/1E4DA3gsQcLG-5qSp5HxDdSA93BZzdWwkH04hUCtOGl4/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
