---
page_class: home-page
---
- if false
  .github
    =link_to 'https://github.com/you' do
      =image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', style: "position: absolute; top: 0; right: 0; border: 0;", alt: "Fork me on GitHub"

.personal-info
  .photo
    = image_tag 'profile_pic.jpg', class: 'profile-pic', alt: 'Lucy Bain'
  .blurb
    Hello, I’m Lucy!
  %ul.connections
    %li
      =link_to '', 'https://twitter.com/lucykbain', alt: 'Twitter', class: 'icon-twitter', target: '_blank'
    %li
      =link_to '', 'https://github.com/lbain', alt: 'GitHub', class: 'icon-github', target: '_blank'
    %li
      =link_to '', 'http://stackoverflow.com/users/863846/lucy-bain', alt: 'Stackoverflow', class: 'icon-stack-overflow', target: '_blank'
    %li
      =link_to '', 'http://www.linkedin.com/profile/view?id=244724359&trk=spm_pic', alt: 'LinkedIn', class: 'icon-linkedin-square', target: '_blank'
