.personal-info
  .photo
    %img.profile-pic{src:"/attachments/images/profile_pic.jpg", alt:'Lucy Bain'}
    %ul.nav
      %li
        %a{href:'/posts'} Blog
      %li
        %a{href:'/https://twitter.com/lucykbain'} Twitter
      %li
        %a{href:'https://github.com/lbain'} GitHub
      %li
        %a{href:'http://stackoverflow.com/users/863846/lucy-bain'} Stackoverflow
      %li
        %a{href:'https://www.facebook.com/LucyKBain'} Facebook

