- if false
  .github
    =link_to 'https://github.com/you' do
      =image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', style: "position: absolute; top: 0; right: 0; border: 0;", alt: "Fork me on GitHub"

.personal-info
  .photo
    = image_tag 'profile_pic.jpg', class: 'profile-pic', alt: 'Lucy Bain'
  %p Find me on:
  %ul.connections
    %li
      =link_to 'Twitter', 'https://twitter.com/lucykbain'
    %li
      =link_to 'GitHub', 'https://github.com/lbain'
    %li
      =link_to 'Stackoverflow', 'http://stackoverflow.com/users/863846/lucy-bain'
    %li
      =link_to 'LinkedIn', 'http://www.linkedin.com/profile/view?id=244724359&trk=spm_pic'
