---
page_class: 'resume'
---
%section.category.overview
  .category-title OVERVIEW
  .item
    .target-border
      .target-dot
    %h2.item-company-title Lucy Bain
    %p
      I love learning a concept and understanding how it fits together in the larger picture. To gain a better view of the full stack I'm moving away from back end development and focusing on front end challenges. I'm interested in writing what the user interacts with and making sure they have an wonderful experience. I'm looking for a company focused on quality and a position where I can explore new problems and come up with creative solutions.

%section.category.experience
  .category-title EXPERIENCE

  .item
    .target-border
      .target-dot
    %h2.item-company-title Split It Inc.
    %span.item-personal-title Web Developer
    %div.item-date May 2013 - current
    %p.item-company-details
      Build and maintain platforms selling household utilities and financial services
    %ul.item-personal-details
      %li Focused on writing readable, reusable code
      %li Pair programmed to discover, implement, and communicate code standards among the team
      %li Enforced quality standards in code reviews to catch bugs early and encourage refactoring to minimize technical debt.
      %li Worked on client facing sites, APIs, and gems for internal use
      %li Tested code (using RSepc) for better maintainability
      %li Designed and implement denormalised data structures (using Mongoid and MongoDB) that allowed us to take “snapshots” of the data to ensure consistency with the user’s experience

  .item
    .target-border
      .target-dot
    %h2.item-company-title AVOS Systems, Inc
    %span.item-personal-title Backend Web Developer
    %div.item-date Nov 2011 - May 2013
    %p.item-company-details
      Explore new ways to interact with media
    %ul.item-personal-details
      %li Developed new features for multiple web apps in Ruby on Rails and Python
      %li Worked with team members to solve technical problems
      %li Tested and deployed code to our production environment

  .item
    .target-border
      .target-dot
    %h2.item-company-title Synactive
    %span.item-personal-title Software Engineer Intern
    %div.item-date July - Oct 2011
    %p.item-company-details
      Create products to enhance SAP users’ experience
    %ul.item-personal-details
      %li Built new features for our next release and saw them through QA
      %li Developed a prototype iPhone application to transfer data asynchronously using Objective-C, and process that data with the company's C++ library

  .page-break

  .item
    .target-border
      .target-dot
    %h2.item-company-title Zepheira
    %span.item-personal-title Web Developer Intern
    %div.item-date May - July 2010
    %p.item-company-details
      Analyze linked data from the Semantic Web
    %ul.item-personal-details
      %li Consulted with CEO to analyze and choose improved web framework for solution set
      %li Transferred and formatted web content from previous site to WordPress

  .item
    .target-border
      .target-dot
    %h2.item-company-title UMW Summer Science Institute
    %span.item-personal-title Research Assistant
    %div.item-date May - July 2009
    %p.item-company-details Undergraduate research program
    %ul.item-personal-details
      %li Served as professor’s researcher on data visualization initiative
      %li Analyzed data, created 3D graphics, led technical presentation for students and faculty

%section.category.community
  .category-title COMMUNITY

  .item
    .target-border
      .target-dot
    %h2.item-company-title Women Who Code
    %span.item-personal-title Organiser, Member
    %div.item-date April 2014 - current
    %ul.item-personal-details
      %li Planned future events to help women learn new technologies
      %li Gave an introductory talk on using Ruby without Rails
      %li Kept the group running after the founder relocated

  .item
    .target-border
      .target-dot
    %h2.item-company-title Rails Girls
    %span.item-personal-title Organiser, Mentor
    %div.item-date July 2013 - current
    %p.item-company-details Introducing women to programming and Ruby on Rails
    %ul.item-personal-details
      %li Started Rails Girls Next, and organised its first workshop (#{link_to 'lbain.github.io/rails-girls-next', 'http://lbain.github.io/rails-girls-next'})
      %li Wrote an explanation of the Rails Girls guide for other mentors and anyone unable to go to a Rails Girls event (#{link_to 'github.com/lbain/railsgirls', 'http://github.com/lbain/railsgirls'})
      %li Answered questions about the Rails stack
      %li Debugged code when the participants ran into difficulties

  .item
    .target-border
      .target-dot
    %h2.item-company-title Study groups
    %span.item-personal-title Organiser, Mentor
    %div.item-date February - June 2014 <br/> August - Oct 2014
    %ul.item-personal-details
      %li Lead an introduction to programming course in Python (#{link_to 'lucybain.com/python', '/python'})
      %li Facilitated a group to practice JavaScript that attracted 40 registrations (#{link_to 'codesydney.com', 'http://www.codesydney.com'})
      %li Arranged for mentors from the community to answer questions
      %li Implemented an incentive based payment system to encourage members to attend

  .page-break

  .item
    .target-border
      .target-dot
    %h2.item-company-title She Hacks
    %span.item-personal-title Developer
    %div.item-date March 2014
    %p.item-company-details All women hackathon
    %ul.item-personal-details
      %li Lead the technical members in creating a Rails site in 2 days
      %li Worked with designers and a front end developer to build the user experience

  .item
    .target-border
      .target-dot
    %h2.item-company-title Startup Weekend Dunedin
    %span.item-personal-title Backend Web Developer
    %div.item-date March 2013
    %ul.item-personal-details
      %li Won 2nd place for our project, Travelscoop, which matched locals with travelers to share local information and give suggestions what to do
      %li Worked with a team to plan, organise, build, and present a startup idea in 54 hours

%section.category.education
  .category-title EDUCATION

  .item
    .target-border
      .target-dot
    %h2.item-company-title University of Mary Washington
    %span.item-personal-title BSc Comp Sci, Honors
    %div.item-date Aug 2007 - May 2011
    %p For my honors project:
    %ul.item-personal-details
      %li Researched and improved knowledge search for scholarly articles with a team
      %li Authored and presented final thesis for departmental honors